<table class="table table-bordered">
    <tbody>
        {{#each restaurant_dishes}}
        <tr>
            <td style="width:140px;"> 
                <div class="dish_container">
                    <img class="dish_image" src="/images/dishes{{image}}">
                </div>
            </td>
            <td class="dish_details">
                <p class="dish_name"><a href="/restaurant/{{../restaurant_id}}/dish/{{d_id}}">{{name}}</a></p>
                <p class="dish_price">{{price}}€</p>
                <p class="dish_description">{{description}}</p>
                {{#if dish_ratable}}
                    <a href="/restaurant/{{../restaurant_id}}/dish/{{d_id}}/rate" class="btn btn-secondary">Rate this Dish</a>
                {{/if}}
            </td>
            <td class="dish_stars_container">
                <p class="dish_stars">{{#if avg_rating}}{{{stars avg_rating}}}{{else}}No reviews yet!{{/if}}</p>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>                    
{{#if dish_addable}}
<a href="/restaurant/{{restaurant_id}}/add_dish" class="btn btn-secondary">Add a Dish!</a> 
{{/if}}