<body>

  {{#if signed_in}}
    {{> menu id="/" name=name surname=surname}}
  {{else}}
    {{> welcomemenu id="home"}}
  {{/if}}

  <main>
    <div class="container-fluid h-100">
      <div class="card mt-3 h-100">
        <div class="card-header">
            <h3>{{title}}</h3>
        </div>
        <div class="card-body h-100 d-flex flex-column">
          <div class="row flex-grow-1 h-100">
            <div class="col-5 text-center border-end d-flex flex-column justify-content-between h-100">
              <div>
                <p class="card-text">A Website where YOU can rate your favourite places, connect with others and decide on your upcoming culinary adventures!</p>
              </div>
              <div>
                {{#if signed_in}}
                <h4>Top Restaurants near you:</h4>
                {{else}}
                <h4>Global Top Restaurants:</h4>
                {{/if}}
                {{#if restaurants_exist}}
                <table class="table table-bordered">
                  <thead>
                      <tr>
                          <th>Place</th>
                          <th>Stars</th>
                          <th>Restaurant</th>
                          <th>City</th>
                      </tr>
                  </thead>
                  <tbody>
                    {{#each restaurants}}
                      <tr>
                          <td>{{rank}}.</td>
                          <td>{{#if has_rating}} {{{stars stars}}} {{else}} No Ratings {{/if}}</td>
                          <td><a id="restaurant_{{rank}}" href="/restaurant/{{id}}">{{name}}</a></td>
                          <td>{{city}}</td>
                      </tr>
                    {{/each}}
                  </tbody>
                </table>
                {{else}}
                Huh... There seem to be no restaurants entered yet in your area! Be the first to add one!
                {{/if}}
              </div>
              <div>
                {{#if signed_in}}
                <h4>Top Dishes near you:</h4>
                {{else}}
                <h4>Global Top Dishes:</h4>
                {{/if}}
                {{#if dishes_exist}}
                <table class="table table-bordered">
                  <thead>
                      <tr>
                          <th>Place</th>
                          <th>Stars</th>
                          <th>Restaurant</th>
                          <th>Dish</th>
                          <th>City</th>
                      </tr>
                  </thead>
                  <tbody>
                    {{#each dishes}}
                      <tr>
                          <td>{{rank}}.</td>
                          <td>{{#if has_rating}} {{{stars stars}}} {{else}} No Ratings {{/if}}</td>
                          <td><a id="restaurant_{{rank}}" href="/restaurant/{{r_id}}">{{r_name}}</a></td>
                          <td><a id="dish_{{rank}}" href="/restaurant/{{r_id}}/dish/{{d_id}}">{{d_name}}</a></td>
                          <td>{{city}}</td>
                      </tr>
                    {{/each}}
                  </tbody>
                </table>
                {{else}}
                Hm... There seem to be no dishes entered yet in your area! Be the first to add one!
                {{/if}}
              </div>
            </div>
            <div class="col-7">
              <div id="map"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  
  <script>
    const redIcon = new L.Icon({
      iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-red.png',
      shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
      iconSize: [25, 41], iconAnchor: [12, 41], popupAnchor: [1, -34]
    });
    console.log({{center_coords}})
    var home_coords = [{{center_coords.[1]}}, {{center_coords.[0]}}]
    var map = L.map('map').setView(home_coords, 13);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
    const signed_in = {{#if signed_in}}true{{else}}false{{/if}}
    if (signed_in) {
      var home_marker = L.marker(home_coords, {icon: redIcon}).addTo(map);
      home_marker.bindPopup("<b>You live Here!</b><br>");
    }
  </script>

  {{>footer}}

</body>