<body>

  {{#if signed_in}}
    {{> menu name=name surname=surname}}
  {{else}}
    {{> welcomemenu}}
  {{/if}}

  <main>
    <div class="container-fluid">
        <div class="card mt-3">
            <div class="card-header">
                <div class="d-flex align-items-center justify-content-between">
                    <h3>{{restaurant_name}} | {{#if ratings_exist}} {{{stars restaurant_stars}}} {{else}} No ratings yet! {{/if}}</h3>
                    {{#if show_rate_button}}<a class="btn btn-secondary" href="/restaurant/{{restaurant_id}}/rate">Rate this Restaurant</a>{{/if}}
                </div>
            </div>
            <div class="card-body">
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="col-3 d-flex align-items-center justify-content-center">
                        <img class="restaurant_image" src="{{restaurant_image}}">
                    </div>
                    <div class="col-9 d-flex flex-column align-items-center justify-content-center">
                        {{#if adding_dish}}
                            <form action="{{add_link}}" method="Post" class="w-100">
                                <table class="table table-bordered w-100">
                                    <tbody>
                                        <tr>
                                            <td width="200px">
                                                maybe uploading an image
                                            </td>
                                            <td>
                                                <div class="dish_details">
                                                    <label for="input_name" class="form_label">Name of the Dish</label>
                                                    <input type="text" class="form-control" id="input_name" name="name">
                                                    <label for="input_price" class="form_label">Price (in €)</label>
                                                    <input type="float" class="form-control" id="input_price" name="price">
                                                    <label for="input_description" class="form_label">Description (optional)</label>
                                                    <input type="text" class="form-control" id="input_description" name ="description">
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>    
                                </table>
                                <div class="mb-5 d-flex align-items-center justify-content-center">
                                    <button type="submit" class="btn btn-secondary">Submit</button>
                                </div>
                            </form>
                            {{>restaurant_dishes signed_in=signed_in restaurant_dishes=restaurant_dishes add_dish=add_dish}}
                        {{else}}
                            {{#if rate}}
                                {{>rating href=rate_link}}
                            {{else}}
                                {{>restaurant_dishes signed_in=signed_in restaurant_dishes=restaurant_dishes add_dish=add_dish}}
                            {{/if}}
                        {{/if}}
                    </div>
                </div>
                {{#if ratings_exist}}
                <div >
                    <table class="mt-5 table table-bordered align-items-center justify-content-center ratings_table">
                        <thead>
                            <tr>
                                <th class="text-center align-middle">Date</th>
                                <th class="text-center align-middle">Name</th>
                                <th class="text-center align-middle">Text</th>
                                <th class="text-center align-middle">Stars</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each restaurant_ratings}}
                            <tr>
                                <td class="text-center align-middle">{{time}}</td>
                                <td class="text-center align-middle">{{name}} {{surname}}</td>
                                <td class="text-center align-middle">{{text}}</td>
                                <td class="text-center align-middle">
                                    {{{stars stars}}}
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
  </main>
  
  {{>footer}}

</body>